%h1 Rent to someone
= form_for @rental do |u|
  %div
    = u.label :treasure
    = u.collection_select :treasure_id, current_user.treasures, :id, :title
  %div
    = u.label :user
    = u.collection_select :user_id, User.all, :id, :first_name
  %div
    = u.label :due_date
    = u.date_select :due_date
  = u.submit 'Rent'
  - if @rental.errors.any?
    %div
      %h3 Please fix these errors:
      %ul
        - @rental.errors.full_messages.each do |msg|
          %li= msg