%h1 Details of rent:

%div
  %strong Treasure:
  = @rental.treasure.try(:title)
  %br/
  %strong Type:
  = @rental.treasure.type.try(:name)
  %br/
  %strong Start date:
  = @rental.start_date
  %br/
  %strong Due date:
  = @rental.due_date
  %br/
  %strong Returned:
  - if @rental.return_date == nil
    = button_to 'Mark as return', @rental, { method: :put }
  - else 
    = @rental.return_date