%h1= @storage.name
%p
  %strong Owner:
  = @storage.owner.try(:first_name)
  %br/
  %strong Street:
  = @storage.address.try(:street)
  %br/
  %strong City:
  = @storage.address.try(:city)
  %br/
  %strong Zip code:
  = @storage.address.try(:zip_code)
  %br/
%hr/
= link_to 'Back', { action: 'index' }
= link_to 'Edit', { action: 'edit' }
= link_to 'Delete', @treasure, method: :delete, data: { confirm: 'Are you sure?' }
