  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :type %>
    <%= f.collection_select :type_id, Type.all, :id, :name %>
  </div>

  <div>
    <%= f.label :owner %>
    <%= f.collection_select :owner_id, User.all, :id, :first_name %>
  </div>  

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :special_note %>
    <%= f.text_field :special_note %>
  </div>

  <div>
    <%= f.label :storage %>
    <%= f.collection_select :storage_id, Storage.all, :id, :name %>
  </div>
  
  <div>
    <%= f.label :trashed %>
    <%= f.check_box :trashed %>
  </div>
