%h1 List of treasures:
- if @treasures == nil
  %p There are not any treasures currently in the system.
- else
  %ul
    - @treasures.each do |t|
      %li
        = link_to t.title, t
        = link_to t.type.name, t
        = link_to('Rent to someone', new_treasure_rental_path(t), class: "btn btn-default")
%div.btn-toolbar
  %div.btn-group-horizontal
    %p= link_to('Add new treasure', new_treasure_path, class: "btn btn-success")
    %p= link_to('Trashed treasures', treasures_trash_path, class: "btn btn-success")
    %p= link_to('All available types', types_path, class: "btn btn-success")
