<! DOCTYPE HTML>

<html lang="en">
<head>
  <title>Web treasures</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
</head>

<body>
  <h1>Add new treasure</h1>

  <%= form_for @treasure do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :type %>
      <%= f.text_field :type %>
    </div>

    <div>
      <%= f.label :owner %>
      <%= f.text_field :owner %>
    </div>  

    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.label :special_note %>
      <%= f.text_field :special_note %>
    </div>

    <div>
      <%= f.label :storage %>
      <%= f.text_field :storage %>
    </div>
    
    <div>
      <%= f.label :trashed %>
      <%= f.check_box :trashed %>
    </div>

    <%= f.submit "Create"%>
    <% if @treasure.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@treasure.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @treasure.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <%= link_to 'Back', { action: 'index' } %>
</body>
</html>
