<h1><%= @treasure.title %></h1>

<p>
  <strong>Owner: </strong> <%= @treasure.owner.try(:first_name) %><br />
  <strong>Type: </strong> <%= @treasure.type.try(:name) %><br />   
  <strong>Trashed: </strong> <%= @treasure.trashed %><br />
  <strong>Description:</strong> <%= @treasure.description %><br />
  <strong>Special note:</strong> <%= @treasure.special_note %><br />
</p>

<hr/>

<%= link_to 'Back', { action: 'index' } %>
