!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WebTreasures
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div  
      = render partial: 'sessions/flash_message'
    %nav
      %div
        = link_to 'My treasures', { action: 'index', controller: 'treasures' }
        = link_to 'My storages', { action: 'index', controller: 'storages' }
        = link_to 'My rentals', { action: 'index', controller: 'rentals' }
        - if current_user.nil?
          = link_to 'Login', { action: 'new', controller: 'sessions'}
          = link_to 'Create an account', {action: 'new', controller: 'accounts'}
        - else
          = link_to 'Logout', {action: 'destroy', controller: 'sessions'}
    = yield
